.body-about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 180px 0% 0px;
    background: black;
    width:100%;
    min-width: 320px;
}

.body-about .typewriter {
    margin-top: 30px;
}

.body-about .typewriter .title1 {
    font-family: 'Josefin', sans-serif;
    font-size:20px;
    line-height:22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.body-about .typewriter .title1 {
    color:white;
    background:white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animate 3s infinite alternate;
}

.body-about .typewriter .title1 {
overflow: hidden; /* Ensures the content is not revealed until the animation */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
animation: typing 3.5s steps(30, end) forwards;
}

@media screen and (max-width: 1175px) {

    .body-about {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        padding: 180px 0 0 0; /* Padding autour de l'ensemble de la page */
        overflow:hidden;
    }
}

@media screen and (max-width: 768px) {

    .body-about {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        overflow: hidden;
        padding: 180px 0 0 0; 
    }

    .body-about .typewriter h1 {
        font-size: 28px;
    }
}
